# Core ML and CV libraries
torch
torchvision
ultralytics
opencv-python
supervision
numpy

# ONNX Runtime for model inference
onnx
onnxslim
onnxruntime
onnxruntime-gpu

# Dataset and utilities
roboflow
Pillow
tqdm